body{
    background:url('../img/background/h2.jpg');
    background-attachment:fixed;
    background-size:100%;
}

.btn{
//border-radius:50px;
}

.docker{
    background:rgba(0,0,0,0.5);
//background:rgba(255,255,255,0.6);
    position:absolute;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow-x:hidden;
    overflow-y:hidden;
}

.navMine{
//background:rgba(0,0,0,0.8);
    background:rgba(255,255,255,0.8);
    padding-right:2%;
    padding-top:5px;
    padding-bottom:5px;
    position:absolute;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:5;
}

.navMine .nav{
    float:right;
}

.space{
    margin-top:5px;

}

.logo{
    text-align: right;
}

.logo img{
    width:50%;
    height:auto;
    text-align: right;
//background:rgba(0,0,0,0.4);
}

.space-logo{
    padding-top:13%;
    margin-top: 5%;
//background:rgba(0,0,0,0.4);
    height:100%;
//border-right-style: groove;
    border-right-color: black;
}

.space-login{
    padding-top:3%;
    padding-bottom:3%;
    margin-top:30%;
}

.space-register{
    padding-top:3%;
    padding-bottom:3%;
    margin-top:20%;
}

.login{
    background:rgba(0,0,0,0.4);
    border-radius: 0px;
}

.register{
    background:rgba(0,0,0,0.4);
    border-radius: 7px;
}

.imgLogo{
    background:rgba(0,0,0,0.4);
    height:auto;
    width:10%;
    border-radius: 1px;
    float:left;

}

.dockForm{
//background: rgba(255,255,255,0.6);
    padding: 1%;
    border-radius: 7px;
}

.miniNav{
    margin-top:5%;
    background:rgba(255,255,255,1.0);
    border-radius:0px;
}

.miniNav ul{
    margin:0px;
    margin-bottom: 2px;
}

ul .nav li a:hover{
    cursor: hand;
    background:rgba(255,255,255,0.4);
}

.loadingSpin{
    align-content: center;
    text-align: center;
    vertical-align: middle;
    width:auto;
    height:auto;
    border-radius:10px;
}

.controlNav li{
    cursor: pointer;
}

.controlNav li:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.3);
}
.graphView{
    //width:90%;
    height: 300px;
    background: rgba(255, 255, 255, 0.3);
    //background: rgba(0, 0, 0, 0.9);
    border-radius: 12px;
    margin: 3px;
}

.graphContain{
    overflow-wrap: all;
    padding:2px;
 }

 .loadingOverlay{
    z-index: 60000000;
    background:rgba(0, 0, 12, 0.4);
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding:40%;
    padding-top:20%;
    display: none;
 }

 .brown {
     background-color: #cc6600;
     color: white;
 }
 .brown:hover {
     background-color: saddlebrown;
     color: white;
 }
 .structure {
     opacity: 0.0;
 }
 .table-input {
     border: none;
 }
 .table-supplyPlanner,.table-supplyPlanner tr td input {
     text-align: center;
 }

 /* status pop section styling*/
 #statusBar{
    z-index: 700000000;
    margin-top: 1%;
 }